parameters:
    higherOrderCollection:
        proxyMethods:
            - map
            - filter
        keyTemplate: TKey
        typeTemplate: TValue
        proxyTemplate: TReturn
        collectionClass: Illuminate\Support\Enumerable
        proxyClass: Illuminate\Support\HigherOrderCollectionProxy 
    stubFiles:
        - stubs/Arrayable.stub
        - stubs/Collection.stub
        - stubs/Enumerable.stub
        - stubs/Jsonable.stub
        - stubs/HigherOrderCollectionProxy.stub
parametersSchema:
    higherOrderCollection: structure([
        collectionClass: string()
        proxyClass: string()
        proxyMethods: array(string())
        keyTemplate: string()
        typeTemplate: string()
        proxyTemplate: string()
    ])
services: 
    -
        class: SustainabilIT\PHPStanHOCPlugin\Support\ConfigInterface
        factory: SustainabilIT\PHPStanHOCPlugin\Support\Config
        arguments:
            collectionClass: %higherOrderCollection.collectionClass%
            proxyClass: %higherOrderCollection.proxyClass%
            proxyMethods: %higherOrderCollection.proxyMethods%
            keyTemplate: %higherOrderCollection.keyTemplate%
            typeTemplate: %higherOrderCollection.typeTemplate%
            proxyTemplate: %higherOrderCollection.proxyTemplate%
    -
        class: SustainabilIT\PHPStanHOCPlugin\Extensions\CollectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: SustainabilIT\PHPStanHOCPlugin\Extensions\HigherOrderCollectionMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: SustainabilIT\PHPStanHOCPlugin\Extensions\HigherOrderCollectionPropertyExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
