parameters:
    higherOrderCollection:
        proxyMethods:
            - map
            - filter
        typeTemplate: T 
        proxyTemplate: S
parametersSchema:
    higherOrderCollection: structure([
        collectionClass: string()
        proxyClass: string()
        proxyMethods: array(string())
        typeTemplate: string()
        proxyTemplate: string()
    ])
services: 
    -
        class: SustainabilIT\PHPStanHOCPlugin\Support\ConfigInterface
        factory: SustainabilIT\PHPStanHOCPlugin\Support\Config
        arguments:
            collectionClass: %higherOrderCollection.collectionClass%
            proxyClass: %higherOrderCollection.proxyClass%
            proxyMethods: %higherOrderCollection.proxyMethods%
            typeTemplate: %higherOrderCollection.typeTemplate%
            proxyTemplate: %higherOrderCollection.proxyTemplate%
    -
        class: SustainabilIT\PHPStanHOCPlugin\Extensions\CollectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: SustainabilIT\PHPStanHOCPlugin\Extensions\HigherOrderCollectionMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: SustainabilIT\PHPStanHOCPlugin\Extensions\HigherOrderCollectionPropertyExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
